* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 200ms;
}

html {
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'BBH Bogle', 'Oswald';
    font-size: 48px;
    animation-name: fadeIn;
    animation-duration: 1s;
}

header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 40px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    background-color: rgb(107, 170, 195);
    display: flex;
    flex-direction: column;
}

main {
    padding: 40px;
    margin: auto;
}

#Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

label {
    font-weight: bold;
    padding: 10px;
}

#passwordLength {
    width: 60%;
    border: none;
    border-radius: 10px;
    text-align: center;
}

button {
    background-color: rgb(137, 85, 151);
    border: none;
    padding: 10px;
    color: white ;
    border-radius: 10px;
    font-weight: bold;
    transition-duration:150ms ;
}

button:hover {
    background-color: rgb(150, 97, 164);
    cursor: pointer;
    transition: 200ms;
    transform: scale(1.1);
}

button:active{
    transform: scale(0.8rem);
    transition: 100ms;
    background-color: brown;
}

#result {
    font-weight: bold;
    animation-name: fadeIn;
    animation-duration: 1s;
}



footer {
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 100;
    position: fixed;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: 14px;
    color: rgb(255, 255, 255);

}